img{border:ridge 10px orange;padding: 15px 0px 15px 0px;margin: 12px 12px 12px 15px;background-color: green;}
h1{border:groove 10px green;padding: 4px 8px 10px 4px ;margin: 6px 50px 6px 50px;background-color: cyan;}
h3{border: dashed 10px blue;padding: 12px 20px 12px 20px ;margin: 30px 100px 30px 100px;background-color: beige}
body{background-color: Orange}